/Documents/NetBeansProjects/WebApplication1/nbproject/private/
/Documents/NetBeansProjects/WebApplication1/build/
/Documents/NetBeansProjects/WebApplication2/nbproject/private/
/Documents/NetBeansProjects/WebApplication1/dist/
/Documents/NetBeansProjects/martes29/target/
/Documents/NetBeansProjects/ejemplodeclase/target/
/Documents/NetBeansProjects/Semana3/target/
/Documents/NetBeansProjects/semana4/target/
/Documents/NetBeansProjects/Semana5/nbproject/private/
/Documents/NetBeansProjects/semanaUltimaJava/target/
/Documents/NetBeansProjects/WebApplication3/nbproject/private/
/Documents/NetBeansProjects/WebApplication3/build/
node_modules
